[submodule "lib/NuVelocity"]
	path = lib/NuVelocity
	url = https://github.com/frankwilco/NuVelocity.git

[submodule "lib/NuVelocity.SharpZipLib"]
	path = lib/NuVelocity.SharpZipLib
	url = https://github.com/frankwilco/NuVelocity.SharpZipLib.git
