.sequenceWrap {
	margin-top: 10px;
	width: fit-content;
}

.sequenceImage {
	display: flex;
	justify-content: center;
}

.sequenceNav {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;

	margin-top: 10px;
}

.sequenceNumberBox {
	text-align: center;
	width: 3em;
}

.viewAllWrap {
	margin-top: 10px;
}
